body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the side navigation */
  .sidenav {
    height: 100%;
    position:fixed;
    width: 200px;
    z-index: 1;
    bottom:0;
    left: 0;
    background-color:pink;
      
    overflow-x: hidden;
  }

  /*make the active user text inherit style from container*/

  .inbox__people{
      color: white;
      padding: 16px;
      background-color:pink;
;
  }
  
  
  /* Side navigation links */
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }


  
  /* Change color on hover */
  .sidenav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the content */
  .content {
    margin-left: 200px;
    padding-left: 20px;
  }

/*Style for the navigation manu using styling from my last assignment*/

/*color for the menu*/
.nav-tabs{
	background-color:#C743CE;
}
/*color for the general font */
.nav-item{
    color:#ffffff;
}
/*when going over the tab*/
.nav-tabs a:hover{
	background-color:#FEE5FF;
	color:#8C1791;
}
/*color for the active tab*/
#act{
	background-color:#8C1791;
	color:#ffffff;
}
/* -------------end------------ */

/* Style for the banner using styling from my last assignment*/

/* Using the whole banner picture */
.banner{
	width:100%
}
/* Jumbotron properties-fixing the text box position and not letting the background picture erepeat itself  using styling from my last assignment*/
.banner .jumbotron{
	padding:100px 60px;
	margin:0px;
	background-image: url('/pictures/banner.jpg');
	background-size:cover;
	background-repeat: no-repeat;
}
/* Making a sligtly transparent background of the text with rounded borders and fixing the text properties using styling from my last assignment */
#banner-text{
	background-color: RGBA(249, 204, 239,0.41);
	border-radius: 25px;
	color:#ffffff;
	text-align: left;
	text-shadow: 2px 2px 15px #000000;
    font-size:30px;
      text-align:center;
}
#banner-text h1{
	
    font-size:60px;
}
/* ----------end------ */

#objective { 
    text-align: justify;
    
}


/* --------- Style for general content using styling from my last assignment --------- */
.main-content{
	padding: 70px 20px 40px 20px;   
}
.main-content-two{
	padding: 40px 20px 70px 20px;   
}


/* Borders of all text boxes using styling from my last assignment*/
.border{
	border-radius: 20px;
    background-color:white;
}

.changeJumb{
	background-color:#C743CE;
	color:#ffffff;
}
.txt{
    margin: 20px 10px 10px 10px;
    color:grey;
    font-weight: bold;
}
.cont{
    padding-top:20px;
}
/* Styling for the footer */
.page-footer div{
	padding: 15px 30px;
}
.page-footer{
    background-color:#D3D3D3;
}
.page-footer h2,h5{
    color:#616161;
}
.page-footer a{
    color:#707070;
}
.page-footer{
    margin-top:50px;
}
/* ---------------- end ------------------------ */

p,li {
    color:grey;
}

/* ---------------- make lists' bullets pink ------------------------ */
.li-color {
  list-style: none; /* Remove default bullets */
}

.li-color li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/* ----------------- added for chat borders ----------- */
.border-chat{
    border-radius: 20px;
    box-shadow: 3px 3px pink, -1em 0 .4em red;
    background-color:white;
}
