* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the side navigation */
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
  }

  /*make the active user text inherit style from container*/

  .inbox__people{
      color: white;
      padding: 16px;
  }
  
  
  /* Side navigation links */
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }


  
  /* Change color on hover */
  .sidenav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the content */
  .content {
    margin-left: 200px;
    padding-left: 20px;
  }


 





/*Style for the navigation manu*/

/*color for the menu*/
.nav-tabs{
	background-color:#C743CE;
}
/*color for the general font */
.nav-item{
    color:#ffffff;
}
/*when going over the tab*/
.nav-tabs a:hover{
	background-color:#FEE5FF;
	color:#8C1791;
}
/*color for the active tab*/
#act{
	background-color:#8C1791;
	color:#ffffff;
}
/* -------------end------------ */

/* Style for the banner */

/* Using the whole banner picture */
.banner{
	width:100%
}
/* Jumbotron properties-fixing the text box position and not letting the background picture erepeat itself */
.banner .jumbotron{
	padding:100px 60px;
	margin:0px;
	background-image: url('/pictures/banner.jpg');
	background-size:cover;
	background-repeat: no-repeat;
}
/* Making a sligtly transparent background of the text with rounded borders and fixing the text properties */
#banner-text{
	background-color: RGBA(249, 204, 239,0.41);
	border-radius: 25px;
	color:#ffffff;
	text-align: left;
	text-shadow: 2px 2px 15px #000000;
    font-size:30px;
}
#banner-text h1{
	
    font-size:60px;
}
/* ----------end------ */

#objective { 
    text-align: justify;
    
}


/* --------- Style for general content --------- */
.main-content{
	padding: 70px 20px 40px 50px;
}
.bg{
    background-color:#ffa535;
    color: #000000; 
}

/* Borders of all text boxes */
.border{
	border-radius: 20px;
}

.changeJumb{
	background-color:#C743CE;
	color:#ffffff;
}
.txt{
    margin: 20px 10px 10px 10px;
}
.cont{
    padding-top:20px;
}
/* Styling for the footer */
.page-footer div{
	padding: 15px 30px;
}
.page-footer{
    background-color:#D3D3D3;
}
.page-footer h2,h5{
    color:#616161;
}
.page-footer a{
    color:#707070;
}
.page-footer{
    margin-top:50px;
}
/* ---------------- end ------------------------ */

/* -------------------- Style for section with geography and the map --------- */
#geo{
	padding: 60px 50px 30px 60px;
}
#map{
	padding-right:30px;
}
/* ----------------------- end ------------------------- */

